div#c1 {
    font-family: Baskerville Old Face;
    text-align: center;
    color: #FF0000;
    background: #C0C0C0;
}

div#c2 {
    font-family: Arial;
    text-align: left;
    color: #0040FF;
    background: #800000;
}